/* Main Content for HomePage */
.homepage-main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px; /* Adjust padding based on navbar */
  background-color: #121212;
  color: #e0e0e0;
}

/* Profile Container for HomePage */
.homepage-profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.homepage-profile-image {
  width: 200px;
  height: 200px;
  border-radius: 20%;
  border: 3px solid #70a1ff;
  margin-bottom: 20px;
}

.homepage-name {
  font-size: 3em;
  margin-bottom: 5px;
  color: #70a1ff;
  font-weight: bold;
}

.homepage-subtitle {
  font-size: 1.1em;
  text-align: center;
  color: #e8e3e3;
  font-weight: bold;
}

/* Links List */
.homepage-links-list {
  list-style: none; /* Remove bullet points */
  padding: 0;
  margin: 0;
}

/* List Item */
.homepage-links-list-item {
  margin-bottom: 15px;
}

/* Link Card for HomePage */
.homepage-link-card {
  display: flex;
  align-items: center;
  background-color: #2e2e2e;
  border-radius: 8px;
  padding: 10px 12px;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.3s;
  color: #70a1ff;
  width: 300px; /* Make the container smaller */
  height: 100px;
}

.homepage-link-card:hover {
  background-color: #3a3a3a;
  transform: scale(1.02);
}

.homepage-link-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px; /* Space between icon and text */
}

.homepage-link-text h2 {
  font-size: 1.2em; /* Slightly smaller heading size */
  margin: 0;
  text-align: left;
}

.homepage-link-text p {
  font-size: 0.8em; /* Slightly smaller text size */
  margin: 3px 0 0 0;
  color: #a0a0a0;
  text-align: left;
}
